@font-face {
    font-family: 'Chakra Petch', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');
  }
body{
    padding:0;
    margin:0;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./Images/ce4f9092-606e-48d6-a6a8-cad7e0b6e21d.jpeg');
    background-color: rgb(4, 51, 4);
}
.logo{
    width: 80%;
}


#canvas{
    height: 600px;
    width: 600px;
    border:1px solid rgb(11, 66, 16);
    background-color: black;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#start, #next-level, #next-level2{
    font-family: 'Chakra Petch', sans-serif;
    color: #000000;
    padding: 20px;
    position: fixed;
    top:1%;
    left:50%;
    margin-top: -10px;
    margin-left: -10px;
    height:200px;
    text-align: center;
    transform: translate(-50%,-50%);
}

#start a, #next-level a ,#next-level2 a{
    border: 3px solid #ffffff;
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    display: block;
    width: 200px;
    text-align: center;
    font-size:1em;
    display: inline-block;
    margin: 1px;
    
}


#start a:hover, #next-level a:hover #next-level2 a:hover { background-color: #ffffff98; color: rgb(9, 65, 9)}