body{
    padding:0;
    margin:0;
    background-image: url('./Images/1507776.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}


#canvas{
    height: 800px;
    width: 800px;
    border:1px solid rgb(105, 11, 11);
    background-color: black;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
