@font-face {
    font-family: 'Chakra Petch', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');
  }
body{
    padding:0;
    margin:0;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./Images/Forest1.jpeg');
    background-color: rgb(4, 51, 4);
}
.logo{
    width: 80%;
}
.arrowKeys{
    width: 10%;
    position: relative;
    top: 12px;
}


#canvas{
    height: 600px;
    width: 600px;
    border:1px solid rgb(11, 66, 16);
    background-color: black;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#start{
    font-family: 'Chakra Petch', sans-serif;
    color: #000000;
    padding: 20px;
    position: fixed;
    left:50%;
    margin-top: -10px;
    margin-left: -10px;
    height:200px;
    top: 20%;
    text-align: center;
    transform: translate(-50%,-50%);
}

#start a{
    border: 3px solid #ffffff;
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    display: block;
    width: 200px;
    text-align: center;
    font-size:1em;
    display: inline-block;
    margin: 1px;
}
#reset{
    text-align: center;
    padding-top: 20px;
}
#reset a{
    font-family: 'Chakra Petch', sans-serif;
    padding-top: 300px;
    border: 3px solid #ffffff;
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    display: block;
    width: 200px;
    text-align: center;
    font-size:1em;
    display: inline-block;
    margin: 1px;
}
#choose-difficulty{
    font-family: 'Chakra Petch', sans-serif;
    color: #000000;
    padding: 20px;
    position: fixed;
    left:50%;
    margin-top: -10px;
    margin-left: -10px;
    height:200px;
    top: 20%;
    text-align: center;
    transform: translate(-50%,-50%);
    
}
#choose-difficulty a{
    border: 3px solid #ffffff;
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    display: block;
    width: 200px;
    text-align: center;
    font-size:1em;
    display: inline-block;
    margin: 1px;
}
.apple{
    text-align: center;
    width: 20%;
    
}
#lost a{
    font-family: 'Chakra Petch', sans-serif;
    border: 3px solid #ffffff;
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    display: block;
    width: 200px;
    text-align: center;
    font-size:1em;
    display: inline-block;
    margin: 240px;
}
.lostimg{
    width: 50%;
}
#lost{
    position: fixed;
    left:50%;
    height: 100px;
    top: 35%;
    text-align: center;
    transform: translate(-50%,-50%);
}
#won{
    position: absolute;
    left:50%;
    height: 100px;
    top: 26%;
    text-align: center;
    transform: translate(-50%,-50%);
}
#won a{
    font-family: 'Chakra Petch', sans-serif;
    border: 3px solid #ffffff;
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    display: block;
    width: 200px;
    text-align: center;
    font-size:1em;
    display: inline-block;
    margin: 130px;
}




#start a:hover{ background-color: #ffffff98; color: rgb(9, 65, 9)}
#reset a:hover{ background-color: #ffffff98; color: rgb(9, 65, 9)}
#choose-difficulty a:hover{ background-color: #ffffff98; color: rgb(9, 65, 9)}
#lost a:hover{ background-color: #ffffff98; color: rgb(9, 65, 9)}
#won a:hover{ background-color: #ffffff98; color: rgb(9, 65, 9)}